body {
  background-color: fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.button {
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #ff9d00;
  padding: 15px 22px;
}

.button img {
  vertical-align: middle;
}

.header {
  background-color: rgba(110, 106, 106, 0.46);
  margin-top: 59px;
}

.header-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-contacts__numbers {
  font-size: 22px;
  margin-right: 20px;
  align-items: center;
}

.edge {
  background-color: black;
  width: 2px;
  height: 30px;
  margin-right: 20px;
}
